body 
{
    margin: 0;
    background-color: #021e22;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 
{
    
    font-size: 50px;
}

h2 
{
    font-size: 30px;
}
.flexible-container
{
    display: flex;
    margin-bottom: 150px;
}
.top-banner 
{
    background-image: url(images/top-banner-removebg-preview.png);
    background-repeat: no-repeat;
}
.half-width 
{
    width: 50%;
    padding-left: 5%;
    

}
.cyan-color
{
    color: cyan;
}
.r 
{
    font-family: 'Zen Tokyo Zoo', cursive;
}

.a1 
{
    font-family: 'Abril Fatface' , cursive;
}

.h 
{
    font-family: 'Tourney', cursive;
}
.m 
{
    
    font-family: 'Zen Loop', cursive;
}

.a2 
{
    font-family: 'Zen Tokyo Zoo', cursive;
}

.n 
{
    font-family: 'Indie Flower', cursive;
}

.first-img
{
    width: 70%;
    padding-top: 50px;
    padding-left: 20%;
}
p 
{
    margin-bottom: 40px;
}
.link-button 
{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 15px 40px;
    margin-top: 30px;
    border-radius: 7px;
    background-image: linear-gradient(cyan, rgb(34, 43, 43));
    
}
.second-img 
{
    width: 80%;
    padding-left: 0;
}
.second-banner 
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-title 
{
    text-align: center;
    color: cyan;
    font-family: 'Tourney', cursive;
}

.experiences-area 
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.exp-name 
{
    font-size: 2.5em;
}

.experiences 
{
    width: 40%;
    margin-left: 10%;
    margin-right: 5%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(21, 133, 133);
    border-left: 10px solid ;
    border-image: linear-gradient(cyan, rgb(34, 43, 43));
    border-image-slice: 1;
}

.first-experience p
{
    padding: 3px;
}

footer 
{
    text-align: center;
}